.work
  +transition()
  +position(fixed, 0px -100vw 0px null)
  width: 100vw
  height: 100%
  padding: 20px
  z-index: 999
  background: $purple
  text-align: center
  overflow: scroll

  .bwslogo
    background:
      image: url('../img/2x4logo.svg')
      repeat: no-repeat
    width: 35px
    height: 50px
    margin: 25px auto 25px auto
    opacity: .5

  h1
    font:
      weight: 800
      size: 50px
    letter-spacing: .15em
    text-transform: uppercase

  h3
    font:
      weight: 100
      size: 24px
    letter-spacing: .15em
    text-transform: uppercase
    color: #FFF
    margin-bottom: 85px

  .work-container
    +outer-container(95%)
    .work-row
      .ind-container
        +span-columns(6)
        margin-bottom: 50px
        p
          text-align: left
          span
            text-transform: uppercase
            +trans-white-link

  .work-toggle
    cursor: pointer
    +position(absolute, 40px null null 25px)
    +transition()
    z-index: 1000
    +size(40px)
    +display(flex)
    background: transparent
    span,
    span:before,
    span:after
      content: ""
      display: block
      height: 3px
      width: 100%
      background: $trans-white
      position: relative
      transition: all 0.3s ease-in-out

    span:before
      top: 15px
      transform-origin: center
      transform: rotate(-45deg)
      top: 0
      background: $trans-white-dark

    span:after
      top: -17px
      transform-origin: center
      transform: rotate(45deg)
      top: 0
      background: $trans-white-dark

    span
      background: transparent

.work-open
  right: 0px

.wtopen
  right: 95%
