section
  margin-top: 145px

  h1
    color: #FFF
    font:
      weight: 100
      size: 24px
    letter-spacing: .15em
    text-align: center
    text-transform: uppercase
    margin-bottom: 85px

  .divider
    color: $trans-white-dark
    width: 90%
    margin: 20px auto
    overflow: hidden
    text-align: center
    line-height: 1.2em
    &:before
      content: ""
      vertical-align: top
      display: inline-block
      width: 50%
      height: 0.65em
      border-bottom: 1px solid $trans-white
      margin: 0 2% 0 -55%
    &:after
      content: ""
      vertical-align: top
      display: inline-block
      width: 50%
      height: 0.65em
      border-bottom: 1px solid $trans-white
      margin: 0 2% 0 -55%
      margin: 0 -55% 0 2%

  p
    +outer-container(75%)

section#whyus
  p
    color: $trans-white-dark
    font:
      weight: 100
      size: 14px
    letter-spacing: .15em
    text-align: justify

    span
      text-transform: uppercase

section#portfolio
  .divider
    margin-bottom: 75px
  .recent-group
    +outer-container(75%)
    .recent-ind
      +span-columns(6)
      text-align: center
      margin-bottom: 10px
      transition: all .2s ease-in-out
      &:hover
        transform: scale(1.1)
        box-shadow: 0px 0px 10px 10px transparentize($black, .7)
      img
        +size(100%)
  .cta--portfolio
    +outer-container(25%)
    cursor: pointer
    text-align: center
    margin-top: 45px
    font:
      weight: 100
      size: 18px
    color: #FFF
    letter-spacing: .15em
    text-transform: uppercase
    border: 1px solid $trans-white
    border-radius: 4px
    padding: 15px
    +white-link
    transition: .3s ease-in-out
    &:hover
      background: $trans-white

section#contact
  p
    color: $trans-white-dark
    font:
      weight: 100
      size: 14px
    letter-spacing: .15em
    text-align: justify

  .cta--email
    +outer-container(30%)
    text-align: center
    margin: 30px auto
    font:
      weight: 100
      size: 18px
    color: #FFF
    letter-spacing: .15em
    text-transform: uppercase
    border: 1px solid $trans-white
    border-radius: 4px
    padding: 15px
    +white-link
    transition: .3s ease-in-out
    &:hover
      background: $trans-white

  #mainselection
    overflow: hidden
    width: 350px
    -moz-border-radius: 9px 9px 9px 9px
    -webkit-border-radius: 9px 9px 9px 9px
    border-radius: 9px 9px 9px 9px
    box-shadow: 1px 1px 11px #330033
    background: url(“arrow.gif”) no-repeat scroll 319px 5px #58B14C

    select
      border: 0
      color: #EEE
      background: transparent
      font-size: 20px
      font-weight: bold
      padding: 2px 10px
      width: 378px
      width: 350px
      background: $trans-white
      -webkit-appearance: none
